/* 폰트 - 배달의민족 도현체 */
@font-face{
	src: url("../font/BMDOHYEON_ttf.ttf");
    font-family: "Jua"; 
}
body{
    margin: 0;
    padding: 0;
    font-family: "Jua";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
button a {
    text-decoration: none;
    color: white;
}

/* 페이지 마다 상단 고정 타이틀 */
.sub-title{
    display: flex;
    border-bottom: 1px solid #C0C0C0;
    margin-top: 70px;
}

/* 초록색 작은버튼 */
.green-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(200, 207, 165);
    color: white;
    height: 45px;
    width: 100px;
}
.green-btn:hover{
    box-shadow: 1px 1px 1px 1px gray;
}

/* 연회색 작은버튼 */
.gray-btn{
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: white;
    height: 45px;
    width: 100px;
}
.gray-btn:hover{
    box-shadow: 1px 1px 1px 1px gray;
 }

