footer{
    border-top: 1px solid #C0C0C0;
    margin-top: 200px;
    padding: 50px;
    width: 100%;
    margin: 0 auto;
}
.fot-a a{
    text-decoration: none;
    color: black;
}
.fot-a{ 
    margin-top: 15px;
}
.Messenger {
    margin-top: 15px;
}
.Messenger a{
    font-size: 30px;
    text-decoration: none;
    color: gray;
    margin-left: 15px;
}
.first-line{
    display: flex;
    justify-content: space-between;
}
.second-line{
    margin-bottom: 30px;
}
.text{
    margin-top: 40px;
}
.people{
    display: flex;
    justify-content: space-between;
}
.talk{
    margin-left: 130px;
}
#success{
    border-bottom: 3px solid #C0C0C0;
    margin-bottom: 20px;
}

.menu-btn{
    background-color: rgb(52, 152, 219);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}