.h{
    border-bottom: 1px solid gray; margin-top: 70px;
}
.log-input{
    border-bottom:2px solid #C0C0C0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.log-input td input{
    width: 300px;
    height: 40px;
}
.table1{
 margin-right: auto; margin-left: auto; text-align: center; font-size : 22px
}
.td1{
    border-bottom:1px solid gray ; height: 40px;
}
.td3{
    height: 20px; width: 900px;
}
.td4{
    height: 80px;
}
.log-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(200, 207, 165);
    color: white;
    height: 45px;
    width: 400px;
}
.log-btn:hover{
    box-shadow: 3px 3px 3px 3px gray;
}
.login-etc{
    color: gray;
}
.login-etc a{
    text-decoration: none;
    color: gray;
    margin-left: 2px;
    margin-right: 2px;
}
.sign-view{
    display: flex;
    justify-content: center;
}
.singup-menu{
    font-size: 16px;
    font-family: "본고딕";
}
.text-input{
    width: 320px;
}

.next-btn{
    width: 100px;
    height: 50px;
    border: none;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
    color: white;
    margin: 20px 30px;
    
}
#inp1{
    background-color: rgb(200,207,165); color: white;
}
#sign-btn{
    border: none;
    border-radius: 5px;
    background-color: rgb(200, 207, 165);
    color: white;
    height: 45px;
    width: 100px;
}

#sign-btn:hover{
    box-shadow: 3px 3px 3px 3px gray;
}
.add-btn{
    background-color: gray;
    border: none;
    border-radius: 5px;
    color: white;
}





