main{
    position: relative;
    left: 60px;
    top: 0px;
    margin-bottom: 70px;
    z-index: 1;
    margin-left: 1%;
}
#vision-space{
    position: relative;
    margin: 150px 0;
  }
  #vision-text{
    position: absolute;
    top: 25%;
    left : 50%;

  }
  .talk{
    margin-bottom: 150px;
  }
  #vision-text{
    font-size: 2.5rem;
  }
  #value-space{
    margin: 150px 0;
  }
  #value-space h1{
    font-size: 2.5rem;
    border-bottom: 1px solid #c0c0c0;
    margin: 30px 0;
  }
  .one-time{
    list-style: none;
    padding: 0px;
  }

  .multiple-items{
    width: 50%;
  }
  .multiple-items li img{
    width: 60%;
    height: 150px;
  }
  .multiple-items li{
    width: 150px;
    /* border: 1px solid gray; */
  }
  #product-slick{
    display: flex;
    justify-content: space-around;
    margin: 150px 0;
  }
  .whats-this {
    width: 100%;
    height: 100vh;
    padding: 10px;
}
.animate {
    position: sticky;
    top: 45vh;
    opacity: 0;
    font-size: 40px;
    width: 100%;
    height: 90px;
    text-align: center;
}

.animate a {
    color: #2291FF;
    text-decoration: none;
}

.animate a:hover {
    text-decoration: underline;
}

.trigger {
    width: 100%;
    height: 10px;
    margin-bottom: 900px;
}


video {
  /* position: relative; */
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
  opacity: 0.7;
}
  .one-time{
    width: 100%;
  }
  .one-time li {
    list-style: none;
  }
  .one-time li img{
    width: 100%;
    height: 400px;
    margin: 0 0px;
  }
  .tmp{
        width: 100%;
        margin: 0 auto;
    }
        
    .slick-arrow{
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: white;
        border: 0;
        opacity:0.3;
        border-radius: 50%;
        font-size: 1.5rem;
        color: gray;
        /* box-shadow: 4px 4px 1px lightgray; */
    }
    .slick-arrow:hover{
      opacity: 1;
      transition: 1s;
    }
    #prev,#next{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
    }
    #prev{
        top: 170px;
    }
    #next{
        top: 170px;
        left: 96%;
    }
    .bn-controller{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
  .bn-controller li button{
    display: none;
  }










